{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>

    <link rel="stylesheet" href="{% static 'students/style.css' %}">
</head>
<body>

    <h1>Add Student</h1>
<div style="text-align:center; margin-bottom:20px;">

    <a href="{% url 'students:index' %}">
        <button type="button">Back to Home</button>
    </a>

</div>
    <form method="post">

        {% csrf_token %}

        <input type="text" name="name" placeholder="Name"><br><br>

        <input type="text" name="roll_number" placeholder="Roll Number"><br><br>

        <input type="email" name="email" placeholder="Email"><br><br>

        <input type="text" name="course" placeholder="Course"><br><br>

        <input type="number" name="marks" placeholder="Marks"><br><br>

        <button type="submit">Add Student</button>

    </form>
<hr>

<p style="text-align:center; color:gray;">
    Built using Django | Student Management System
</p>
</body>
</html>